<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title>{{ title }} - {{ feed.name_escaped }}</title>
    <link>{{ feed.link_url }}</link>
    <description><![CDATA[ Mpeg stream recordings of the show
      "{{ feed.name_escaped | e }}". ]]></description>
    <itunes:image href="{{ feed.logo_url }}"></itunes:image>
    <language>{{ feed.language }}</language>
    <lastBuildDate>{{ build_date }}</lastBuildDate>
    <generator>{{ generator | e }}</generator>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    <image>
      <url>{{ feed.logo_url }}</url>
      <title>{{ feed.name_escaped }}</title>
      <link>{{ feed.link_url }}</link>
    </image>
{% for item in items %}
    <item>
      <title>{{ item.name_escaped }}</title>
      <link>{{ item.link_url }}</link>
      <itunes:duration>{{ item.duration_string }}</itunes:duration>
      <itunes:image href="{{ item.logo_url }}"></itunes:image>
      <itunes:summary><![CDATA[
        Show: {{ item.name_escaped }}<br>
Copyright: <a href="{{ item.link_url }}">{{ item.author_escaped }}</a>
        ]]></itunes:summary>
      <description><![CDATA[
        Show: {{ item.name_escaped }}<br>
Copyright: <a href="{{ item.link_url }}">{{ item.author_escaped }}</a>
        ]]></description>
      <author>{{ item.author_escaped }}</author>
      <enclosure url="{{ base_url }}/{{ item.slug }}" length="{{ item.filesize }}" type="{{ item.mimetype }}"></enclosure>
      <guid isPermaLink="true">{{ base_url }}/{{ item.slug }}</guid>
      <pubDate>{{ item.pubdate }}</pubDate>
    </item>
{% endfor %}
  </channel>
</rss>
