<?xml version="1.0" encoding="iso-8859-1"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title>{{ title }} - {{ feed.name }}</title>
    <link>{{ feed.link_url }}</link>
    <description>{{ feed.description }}</description>
    <itunes:image href="{{ feed.logo_url }}"></itunes:image>
    <language>{{ feed.language }}</language>
    <lastBuildDate>{{ build_date }}</lastBuildDate>
    <generator>{{ generator }}</generator>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    <image>
      <url>{{ feed.logo_url }}</url>
      <title>{{ feed.name }}</title>
      <link>{{ feed.link_url }}</link>
    </image>
{% for item in items %}
    <item>
      <title>{{ item.name }}</title>
      <link>{{ item.link_url }}</link>
      <itunes:duration>{{ item.duration_string }}</itunes:duration>
      <itunes:image href="{{ item.logo_url }}"></itunes:image>
      <description>{{ item.description }}</description>
      <author>{{ item.author }}</author>
      <enclosure url="{{ base_url }}/{{ item.slug }}" length="{{ item.filesize }}" type="{{ item.mimetype }}"></enclosure>
      <guid isPermaLink="true">{{ base_url }}/{{ item.slug }}</guid>
      <pubDate>{{ item.pubdate }}</pubDate>
    </item>
{% endfor %}
  </channel>
</rss>
