<?xml version="1.0" encoding="iso-8859-1"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
    <channel>
        <title>{{ feed.title }}</title>
        <link>{{ feed.link }}</link>
        <description>{{ feed.description }}</description>
        <itunes:image href="{{ feed.image.url }}"></itunes:image>
        <language>{{ feed.language }}</language>
        <lastBuildDate>{{ feed.pubdate }}</lastBuildDate>
        <generator>{{ feed.generator }}</generator>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <image>
            <url>{{ feed.image.url }}</url>
            <title>{{ feed.title }}</title>
            <link>{{ feed.link }}</link>
            <description>{{ feed.image.description }}</description>
        </image>
{% for item in feed.items %}
        <item>
            <title>{{ item.title }}</title>
            <link>{{ item.link_url }}</link>
            <itunes:duration>{{ item.duration }}</itunes:duration>
            <itunes:image href="{{ item.image_url }}"></itunes:image>
            <description>{{ item.description }}</description>
            <author>{{ item.artist }}</author>
            <enclosure url="{{ item.url }}" length="{{ item.filesize }}" type="{{ item.type }}"></enclosure>
            <guid isPermaLink="true">{{ item.url }}</guid>
            <pubDate>{{ item.pubdate }}</pubDate>
        </item>
{% endfor %}
    </channel>
</rss>