<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ title }} - {{ feed.name_escaped }}</title>
    <link>{{ feed.link_url }}</link>
    <description>Recordings of the show "{{ feed.name_escaped | e }}".</description>
    <lastBuildDate>{{ build_date }}</lastBuildDate>
    <image>
      <url>{{ feed.logo_url }}</url>
      <title>{{ title }} - {{ feed.name_escaped }}</title>
      <link>{{ feed.link_url }}</link>
    </image>
    <language>{{ feed.language }}</language>
    <generator>{{ generator | e }}</generator>
    <itunes:image href="{{ feed.logo_url }}"></itunes:image>

{% for item in items %}
    <item>
      <title>{{ item.name_escaped }}</title>
      <link>{{ item.link_url }}</link>
      <pubDate>{{ item.pubdate }}</pubDate>
      <author>{{ item.author_escaped }}</author>
      <guid isPermaLink="false">{{ item.slug }}</guid>
      <description><![CDATA[Show: {{ item.name_escaped }}<br>Copyright: <a href="{{ item.link_url }}">{{ item.author_escaped }}</a>]]></description>
      <enclosure url="{{ base_url }}/{{ item.slug }}" length="{{ item.filesize }}" type="{{ item.mimetype }}"></enclosure>
      <itunes:duration>{{ item.duration_string }}</itunes:duration>
      <itunes:image href="{{ item.logo_url }}"></itunes:image>
      <itunes:summary>{{ item.name_escaped }}, Link: {{ item.link_url }}</itunes:summary>
    </item>
{% endfor %}
  </channel>
</rss>
