<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ feed.name_escaped }}</title>
    <link rel="stylesheet"
          href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
          integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
          crossorigin="anonymous">
    <style type="text/css">
        body {
          display: table;
          height: 100%;
          width: 100%;
          margin: 0;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .navbar,
        .container,
        .footer {
          display: table-row;
        }
        .navbar .content,
        .container .content,
        .footer .content {
          display: table-cell;
          padding: 10px 5px;
        }
        .container .content {
          overflow-y: scroll;
        }
        .navbar {
            background-color: #2c3e50;
        }
        .navbar-brand {
            color: #ffffff;
            float: left;
            padding: 19.5px 15px;
            font-size: 19px;
            line-height: 21px;
            text-decoration: none;
        }
        .navbar img.logo {
            height: 36px;
            width: 36px;
        }
        .footer {
          background-color: #f5f5f5;
        }
        li.item .description {
          font-size: 95%;
          padding: 5px;
        }
        li.item p {
          margin: 0;
          padding: 5px 0;
        }
        li.item img.logo {
            height: 16px;
            width: 16px;
        }
        a {
            color: #18bc9c;
            text-decoration: none;
        }
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="content">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ base_url }}">{{ title | e }}</a>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="content">
          <div class="page-header">
            <h1>{{ feed.name_escaped }}</h1>
          </div>
          <p>Mpeg stream recordings of the show "{{ feed.name_escaped | e }}".</p>
          <ul>
      {% for item in shows %}
          <li class="item show">
            <p><img class="logo" title="{{ item.name_escaped }}" alt="{{ item.name_escaped }}" src="{{ item.logo_url }}"></img>
            <a href="{{ base_url }}/{{ item.slug }}/index.html">{{ item.name_escaped }}</a>
            <a href="{{ base_url }}/{{ item.slug }}/rss.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
            <a href="{{ item.link_url }}"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
            </p>
          </li>
      {% endfor %}
          </ul>
          <hr>
          <ul>
      {% for item in items %}
      <li class="item episode">
            <p><img class="logo" title="{{ item.name_escaped }}" alt="{{ item.name_escaped }}" src="{{ item.logo_url }}"></img>
            <a href="{{ base_url }}/{{ item.slug }}">{{ item.name_escaped }}</a></p>
      {% if item.description %}
            <div class="description"><p>{{ item.description }}</p></div>
      {% endif %}
          </li>
      {% endfor %}
          </ul>
        </div>
    </div>

    <div class="footer">
      <div class="content">
      <p class="text-muted">
        Powered by <a href="http://github.com/dirkr/capturadio" title="CaptuRadio">CaptuRadio</a>&nbsp;&mdash;&nbsp;
        Copyright of media: <a href="{{ feed.link_url }}">{{ feed.author }}</a>&nbsp;&mdash;&nbsp;
        Build date: {{ build_date | e }}
      </p>
      </div>
    </div>
  </body>
</html>
