<html>
    <head>
        <title>{{ title }} - {{ feed.name_escaped }}</title>
        <style type="text/css">
            .header img.logo {
                height: 36px;
                width: 36px;
            }
            li .item {
                height: 22px;
            }
            li .item img.logo {
                height: 16px;
                width: 16px;
            }
        </style>
    </head>
  <body>
    <div class="header">
        <a title="{{ feed.name_escaped }}" href="{{ feed.link_url }}">
            <img class="logo" title="{{ feed.name_escaped }}" alt="{{ feed.name_escaped }}" src="{{ feed.logo_url }}"></img>
        </a>
        <h1>{{ title }} - {{ feed.name_escaped }}</h1>
        </div>
    <div class="description">
    <blockquote>
        <p>Mpeg stream recordings of the show "{{ feed.name_escaped | e }}".</p>
    </blockquote>
    </div>
    <ul>
{% for item in shows %}
    <li>
    <div class="item show">
        <img class="logo" title="{{ item.name_escaped }}" alt="{{ item.name_escaped }}" src="{{ item.logo_url }}"></img>
        <a href="{{ base_url }}/{{ item.slug }}/index.html">{{ item.name_escaped }}</a>
        <a href="{{ base_url }}/{{ item.slug }}/rss.xml">RSS</a>
        <a href="{{ item.link_url }}">Web</a>
    </div>
    </li>
{% endfor %}
    </ul>
    <hr>
    <ul>
{% for item in items %}
    <li>
    <div class="item episode">
        <img class="logo" title="{{ item.name_escaped }}" alt="{{ item.name_escaped }}" src="{{ item.logo_url }}"></img>
        <a href="{{ base_url }}/{{ item.slug }}">{{ item.name_escaped }}</a>
    </div>
    </li>
{% endfor %}
    </ul>
  <hr/>
      <p>Copyright of media: <a href="{{ feed.link_url }}">{{ feed.author }}</a>, Generator: {{ generator | e }}, built date: {{ build_date | e }}</p>
  </body>
</html>
