[settings]
destination = ~/Downloads

[stations]
dlf = http://dradio.ic.llnwd.net/stream/dradio_dlf_m_a
dkultur = http://dradio.ic.llnwd.net/stream/dradio_dkultur_m_a

; settings for the Podcast feed
[feed]
url = http://music.example.org
title = Internet Radio Recordings
about_url = http://music.example.org/about
description = Recordings of internet radio station broadcastings
language = en
filename = rss.xml

; additional settings for station 'dlf'
[dlf]
name = Deutschlandfunk
logo = http://www.dradio.de/images/31064/square/

[dkultur]
name = Deutschlandradio Kultur
logo = http://www.dradio.de/images/31064/square/
