[settings]
destination = ~/Downloads
date_pattern = %d.%m.%Y %H:%M

[stations]
dlf = http://example.org/dlf
dkultur = http://example.org/dkultur

[feed]
url = http://music.example.org
title = Internet Radio Recordings
about_url = http://music.example.org/about
description = Recordings of internet radio station broadcastings
language = en
filename = rss.xml
default_logo_url = http://example.org/pic.png
default_logo_copyright = Yagraph http://commons.wikimedia.org/wiki/File:Podcast-icon.svg

[dlf]
name = Deutschlandfunk
link_url = http://example.org/dlf
logo_url = http://example.org/dlf.png

[dkultur]
name = Deutschlandradio Kultur
link_url = http://example.org/dkultur
logo_url = http://example.org/dkultur.png

[news]
name = Latest news
duration = 300
link_url = http://example.org/dlr/news
logo_url = http://example.org/dlr/news.png
station = dkultur

[weather]
name = Weather forecast
duration = 300
logo_url = http://example.org/weather.png
station = dlf
